/!DOCTYPE html.txt
/.vscode
/agh
/APUNTES CURSO UDEMY.docx
/C1 Inglés Ignacio Díaz.pdf
/Call of Duty Modern Warfare 3 - Dedicated Server.url
/Captura de pantalla 2023-08-28 174652.png
/Captura de pantalla 2023-08-28 174819.png
/CV Ignacio Díaz.pdf
/cv.png
/Dezor.lnk
/DISTRIBUIDOS.html
/dj
/DOC FINALES LA
/DOCUMENTOS ERAS
/ERASMUS 23-24
/erasmus atenas
/ERASMUS NEW
/GitHub Desktop.lnk
/GTA
/Ignacio - Chrome.lnk
/index.html
/IP Y ED.docx
/jaimejj529.txt
/jorgecuutzz.txt
/Learning Agreement Erasmus Athens.docx_signed.csig
/Learning Agreement Erasmus Athens_signed.pdf
/MODIFICACION URJC
/MOSTOLES
/mundi
/Nueva carpeta
/OpenJDK17U-jdk_x64_windows_hotspot_17.0.6_10.msi
/practicas.png
/script.js
/SEGURIDAD
/SERIES.txt
/style.css
/talf second matricule-20230704T085411Z-001.zip
/TALF.zip
/Telegram.lnk
/TRAD
/UNI
/uni tercero
/unnamed.jpg
/uTorrent Web.lnk
/Visual Studio Code.lnk